<!DOCTYPE html>
<html>
<head>
  <title>Chinese holiday</title>
  <%= stylesheet_link_tag    "chinese_holiday/application", media: "all" %>
  <%= javascript_include_tag "chinese_holiday/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
